<body>
<a href="/user/logout">Log out</a>
  <% if !is_logged_in? %>
    <% provide(:title, "Log in") %>
    <div class="row">
      <div class="wrapper">
        <% flash.each do |key, value| %>
          <%= content_tag(:span, value, class: "validation-error") %>
        <% end %>
        <%= form_for(:session, :html => {:class => "login"}, url: '/user/login') do |f| %>
          <h1>Log in</h1>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', name: "email"%>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', name: "password"%>
          <!--<!%= f.submit "Log in", class: "loginButton log-in-submit" %>-->
          <%= button_tag(type: 'submit', class: "loginButton log-in-submit") do %>
            <span class="state">Log in</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="wrapper">
      <!--<!%= render 'users/form' %>-->
        <!--<!%= render 'shared/error_messages' %>-->
      <% if @user.errors.any? %>
          <ul>
            <li  class ="validation-error"><%= @user.errors.full_messages.first %></li>
          </ul>
      <% end %>
      <%= form_for(@user, :html => {:class => "login", :name => 'adduser'}, url: '/user/register') do |f| %>
        <h1>Sign up</h1>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :fl_name, name: "fl_name"%>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email , name: "email"%>
        </div>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password, name: "password"%>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, name: "password_confirmation"%>
        </div>
        <div class="actions">
          <!--<!%= f.submit :class => "submitButton sign-up-submit"%>-->
          <%= button_tag(type: 'submit', class: "submitButton sign-up-submit") do %>
            <span class="state">Submit</span>
          <% end %>
        </div>
      <% end  %>
  </div>
    <!--<a href="/user/logout">Log out</a>-->
    <footer>
    </footer>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
    <script type='text/javascript'>
      function closeSignInForm() {
        $('.menu').animate({
          left: "-350px"
        }, 200);
      }
    
      function openSignInForm() {
        $('.menu').animate({
          left: "37.37%"
        }, 200);
      }
    </script>
  <% else %><!--if !is_logged_in?-->
   <header>
    <!--<a href="/user/logout">Log out</a>-->
   </header>
   <div class="wrapper">
     <p><h>Welcome, <%= current_user.fl_name %></h></p>
     <!--<!%= render 'tasks/form' %>-->
     
     <%= form_for(@task, :html => {:class => "create-task login", :name => 'createtask'}, url: '/task/create') do |f| %>
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li  class ="validation-error"><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, name: "title"%>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description, name: "description"%>
        </div>
        <div class="field">
          <%= f.hidden_field :owner, :value =>  current_user.email, name: "owner" %>
        </div>
        <div class="field">
          <%= f.label :collaborator1 %><br>
          <%= f.text_field :collaborator1, name: "collaborator1"%>
        </div>
        <div class="field">
          <%= f.label :collaborator2 %><br>
          <%= f.text_field :collaborator2, name: "collaborator2"%>
        </div>
        <div class="field">
          <%= f.label :collaborator3 %><br>
          <%= f.text_field :collaborator3, name: "collaborator3"%>
        </div>
        <div class="field">
          <%= f.hidden_field :done , name: "done", :value => 0%>
        </div>
        <div class="actions">
          <!--<!%= f.submit :class => "submitButton" %>-->
          <%= button_tag(type: 'submit', class: "submitButton") do %>
            <span class="state">Create</span>
          <% end %>
        </div>
      <% end %>
   </div>
    <% if @tasks!=nil %>
      <% @tasks.each do |task| %>
      <div class="tasks-item">
        <% if task.done == true %> 
          <div class = "tasks-list-item complete-task">
            <tr>
              <p>
                <label>Title: </label>
                <span class="task-title"><%= task.title%></span>
              </p>
              <p>
                <label>Description: </label>
                <%= task.description %>
              </p>
              <p>
                <label>Owner: </label>
                <%= task.owner %>
              </p>
              
              <% if task.owner == current_user.email  %>
                <%= form_for(@task, :html => {:class => "taskForm", :name => 'deletetask'}, url: '/task/delete') do |f| %>
                  <%= f.hidden_field :id, name: "id", :value =>  task.id %>
                  <%= f.hidden_field :title, name: "title", :value =>  task.title %>
                  <%= f.hidden_field :description, name: "description", :value =>  task.description %>
                  <%= f.hidden_field :owner, name: "owner", :value =>  task.owner %>
                  <%= f.hidden_field :collaborator1, name: "collaborator1", :value =>  task.collaborator1 %>
                  <%= f.hidden_field :collaborator2, name: "collaborator2", :value =>  task.collaborator2 %>
                  <%= f.hidden_field :collaborator3, name: "collaborator3", :value =>  task.collaborator3 %>
                  <%= f.hidden_field :done , name: "done", :value => task.done%>
                  <!--<!%= f.submit "Delete", :class => "taskRedFormButton delete-task" %>-->
                  <%= button_tag(type: 'submit', class: "taskRedFormButton delete-task") do %>
                    <span class="state">Delete</span>
                  <% end %>
                <% end %><!--form delete task-->
              <% end  %><!--if task.owner == current_user.email-->
                <%= form_for(@task, :html => {:class => "taskForm", :name => 'updatetask'}, url: '/task/complete') do |f| %>
                  <%= f.hidden_field :id, name: "id", :value =>  task.id %>
                  <%= f.hidden_field :title, name: "title", :value =>  task.title %>
                  <%= f.hidden_field :description, name: "description", :value =>  task.description %>
                  <%= f.hidden_field :owner, name: "owner", :value =>  task.owner %>
                  <%= f.hidden_field :collaborator1, name: "collaborator1", :value =>  task.collaborator1 %>
                  <%= f.hidden_field :collaborator2, name: "collaborator2", :value =>  task.collaborator2 %>
                  <%= f.hidden_field :collaborator3, name: "collaborator3", :value =>  task.collaborator3 %>
                  <%= f.hidden_field :done , name: "done", :value => 0%>
                  <!--<!%= f.submit "Complete", :class => "taskGreenFormButton toggle-task" %>-->
                  <%= button_tag(type: 'submit', class: "taskGreenFormButton toggle-task") do %>
                    <span class="state">Complete</span>
                  <% end %>
                <% end %><!--form update task-->
            </tr>
          </div>
        <% else %><!--task.done == true-->
          <div class = "tasks-list-item">
            <tr>
              <p>
                <label>Title: </label>
                <span class="task-title"><%= task.title%></span>
              </p>
              <p>
                <label>Description: </label>
                <%= task.description %>
              </p>
              <p>
                <label>Owner: </label>
                <%= task.owner %>
              </p>
              <% if task.owner == current_user.email  %>
                <%= form_for(@task, :html => {:class => "taskForm", :name => 'deletetask'}, url: '/task/delete') do |f| %>
                  <%= f.hidden_field :id, name: "id", :value =>  task.id %>
                  <%= f.hidden_field :title, name: "title", :value =>  task.title %>
                  <%= f.hidden_field :description, name: "description", :value =>  task.description %>
                  <%= f.hidden_field :owner, name: "owner", :value =>  task.owner %>
                  <%= f.hidden_field :collaborator1, name: "collaborator1", :value =>  task.collaborator1 %>
                  <%= f.hidden_field :collaborator2, name: "collaborator2", :value =>  task.collaborator2 %>
                  <%= f.hidden_field :collaborator3, name: "collaborator3", :value =>  task.collaborator3 %>
                  <%= f.hidden_field :done, name: "done", :value => task.done%>
                  <!--<!%= f.submit "Delete", :class => "taskRedFormButton delete-task" %>-->
                  <%= button_tag(type: 'submit', class: "taskRedFormButton delete-task") do %>
                    <span class="state">Delete</span>
                  <% end %>
                <% end %><!--form delete task-->
              <% end  %><!--if task.owner == current_user.email-->
                <%= form_for(@task, :html => {:class => "taskForm", :name => 'updatetask'}, url: '/task/complete') do |f| %>
                  <%= f.hidden_field :id, name: "id", :value =>  task.id %>
                  <%= f.hidden_field :title, name: "title", :value =>  task.title %>
                  <%= f.hidden_field :description, name: "description", :value =>  task.description %>
                  <%= f.hidden_field :owner, name: "owner", :value =>  task.owner %>
                  <%= f.hidden_field :collaborator1, name: "collaborator1", :value =>  task.collaborator1 %>
                  <%= f.hidden_field :collaborator2, name: "collaborator2", :value =>  task.collaborator2 %>
                  <%= f.hidden_field :collaborator3, name: "collaborator3", :value =>  task.collaborator3 %>
                  <%= f.hidden_field :done , name: "done", :value => 1%>
                  <!--<!%= f.submit "Not Complete", :class => "taskRedFormButton toggle-task" %>-->
                  <%= button_tag(type: 'submit', class: "taskRedFormButton toggle-task") do %>
                    <span class="state">Not Complete</span>
                  <% end %>
                <% end %><!--form update task-->
            </tr>
          </div>
        <% end %><!--if task.done == true-->
      </div>
      <% end %><!--@tasks.each do |task|-->
    <% end %><!--if @tasks!=nil-->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
    <script type='text/javascript'>
      function closeCreateTaskForm() {
        $('.menu').animate({
          left: "-350px"
        }, 200);
      }
      
      function openCreateTaskForm() {
        $('.menu').animate({
          left: "37.37%"
        }, 200);
      }
    </script>
  <% end %><!--if !is_logged_in?-->
</body>