  <%= form_for(@user, :html => {:class => "login", :name => 'adduser'}, url: '/user/register') do |f| %>
    <%= render 'shared/error_messages' %>
    <h1>Sign up</h1>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, 'fl_name' =>"name"%>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email , 'email' =>"name"%>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, 'password' =>"name"%>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, 'password' =>"name"%>
    </div>
    <div class="actions">
      <!--<!%= f.submit :class => "submitButton sign-up-submit"%>-->
      <%= button_tag(type: 'submit', class: "submitButton sign-up-submit") do %>
        <span class="state">Submit</span>
      <% end %>
    </div>
<% end  %>
